{% extends "base.html" %} {% load staticfiles %}
{% block title %} edit {% endblock title %}
{% block content %}
		<style type="text/css">
			body {
				background-color: #f6f6f8;

				font-size: 16px;
				color: #000;

			}
			h2 {
				font-size: 22px;
				font-weight: 400;
				font-family: "microsoft yahei";
				padding-top: 40px;
				padding-bottom: 40px;
			}

			.form{
				margin: 0 auto;
                margin-top: 40px;
                width: 1100px;
                background-color: #f3f5f7;
			}
            h2{
                padding-left: 50px;
            }
            textarea{
                margin-top: 10px;
                margin-left: 10px;
            }
            form{
                padding-left: 30px;
            }
			.form input{
				height: 40px;
				width: 300px;
				border: 1px solid #eee;
				border-radius: 5px ;
				/* display: block */


				font-size: 14px;
				padding: 0;
                padding-left: 10px;
				margin: 20px;
			}
			.submit{
				position: relative;
				left: 580px;
				background-color: #00BFFF;


			}
			.submit:hover{
				border-color: #00BFFF;
				background-color: #007BFF;
				cursor: pointer;
			}
			.form span{
				display: inline-block;
				height: 30px;
				width: 120px;
				text-align: center;
				line-height: 30px;
				border-left: 5px solid #00BFFF;
			}
			.avatar{
				display: inline-block;
				background-color: #00BFFF;
				border-radius: 5px;
				height: 40px;
				width: 100px;
				position: absolute;
				top: 50%;
				left: 150px;
				transform: translate(0, -50%);
				text-align: center;
				line-height: 40px;
				font-size: 14px;

			}
			.avatar input{
				position: absolute;
				margin: 0;
				width: 100px;
				left: 0;
			}
			.school{
				margin-bottom: 10px;
			}
			.intro{

				width: 900px;
			}
			.skill{
				width: 900px;
				margin-top: 20px;
			}

		</style>



		<div class="form ">
			<h2>暂未更新个人信息</h2>
			
				<div class="name" >
					<span>账号：</span><input type="text" name="name" id="name" value="{{ profile.user.username }}"/>
                    
				</div>
                <div class="name">
					<span>邮箱：</span><input type="text" name="name" id="name" value="{{ profile.user.email }}"/>
                    
				</div>
                <div>
                    <h3>
                        暂未更其他信息。
                    </h3>
                </div>
	
			
		</div>

{% endblock content %}



















